/* ========================================
   HOME PAGE ONLY
======================================== */


/* Super Bowl Logo */

.superbowl-logo img{

width:220px;

max-width:80%;

margin-bottom:20px;

}